* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#pianos ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#pianos .fj {
    display: flex;
    flex-direction: column;
}

#pianos header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pianos header .fr {
    color: #C81D23;
    padding-right: 10px;
}

#pianos header .title {
    font-weight: 300
}

#pianos li,
#pianos .center li,
#pianos .right li {
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    width: 25px;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    transition: all .1s ease-out;
}

#pianos .left {
    grid-area: left;
}

#pianos .center {
    width: 140px;
    grid-area: center;
    margin: 0 15px;
}

#pianos .center .top {
    width: 140px;
}

#pianos .center .bottom .center-bottom-top {
    margin: 0 auto;
    grid-area: center-bottom-top;
}

#pianos .center .bottom .center-bottom-left {
    grid-area: center-bottom-left;
}

#pianos .center .bottom .center-bottom-bottom {
    grid-area: center-bottom-bottom;
}

#pianos .center .bottom .center-bottom-right {
    grid-area: center-bottom-right;
}

#pianos .center .bottom {
    margin-top: 35px;
    display: grid;
    grid-template-areas: 'center-bottom-top center-bottom-top center-bottom-top' 'center-bottom-left center-bottom-bottom center-bottom-right';
    grid-gap: 5px;
}

#pianos .right {
    margin-top: 35px;
    grid-area: right;
}

#pianos .right-items .k4g {
    grid-area: k4g;
}

#pianos .right-items .k5g {
    grid-area: k5g;
}

#pianos .right-items .k6g {
    grid-area: k6g;
}

#pianos .right-items .k7g {
    grid-area: k7g;
}

#pianos .right-items .k7 {
    grid-area: k7;
}

#pianos .right-items .k1g {
    grid-area: k1g;
}

#pianos .right-items .k2g {
    grid-area: k2g;
}

#pianos .right-items .k4 {
    grid-area: k4;
}

#pianos .right-items .k5 {
    grid-area: k5;
}

#pianos .right-items .k6 {
    grid-area: k6;
}

#pianos .right-items .k1 {
    grid-area: k1;
}

#pianos .right-items .k2 {
    grid-area: k2;
}

#pianos .right-items .k3 {
    grid-area: k3;
}

#pianos .right-items .k5d {
    grid-area: k5d;
    width: auto;
}

#pianos .right-items .k6d {
    grid-area: k6d;
}

#pianos .right-items .k3g {
    grid-area: k3g;
}

#pianos .right-items .k7d {
    grid-area: k7d;
}

#pianos .right .right-items {
    display: grid;
    grid-template-areas: 'k4g k5g k6g k7g' 'k7 k1g k2g k3g' 'k4 k5 k6 k3g' 'k1 k2 k3 k7d' 'k5d k5d k6d k7d';
}

#pianos li:active {
    background-color: #09f !important;
    transition: all .3s ease-in-out;
}

#pianos li.hideKey {
    background: #999 !important;
}

#pianos li.hideKey:hover {
    cursor: not-allowed;
}

#pianos {
    width: 1005px;
    padding: 10px;
    border: 1px solid #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 30px auto;
    display: grid;
    grid-template-areas: 'header header header header header header' 'left left left center center right';
    grid-gap: 10px;
}

@keyframes hiddenToHidden {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.hidden {
    opacity: 0.2;
    transition: all 0.5s;
    animation: hiddenToHidden 1s ease-out;
}

#audio-name, #piano-audio {
    display: none;
}

.hidden:hover {
    opacity: 1;
    transition: all 0.5s;
}
